eureka:
  client:
    fetch-registry: false
    register-with-eureka: true
    service-url:
      default-zone: http://localhost:8761/eureka
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/dpdb
    username: root
    password: welcome1
  jpa:
    show-sql: false
    generate-ddl: true