eureka:
  client:
    fetch-registry: false
    register-with-eureka: true
    service-url:
      default-zone: http://localhost:8761/eureka
spring:
  datasorce: 
    url: jdbc:mysql://localhost:3306/dpdb
    username: root
    passowrd: welcome1      